# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
portfolio-yatiyr/node_modules
portfolio-yatiyr/.pnp
portfolio-yatiyr/.pnp.js

# testing
portfolio-yatiyr/coverage

# next.js
portfolio-yatiyr/.next/
portfolio-yatiyr/out/

# production
portfolio-yatiyr/build

# misc
portfolio-yatiyr/.DS_Store
portfolio-yatiyr/*.pem

# debug
portfolio-yatiyr/npm-debug.log*
portfolio-yatiyr/yarn-debug.log*
portfolio-yatiyr/yarn-error.log*

# local env files
portfolio-yatiyr/.env.local
portfolio-yatiyr/.env.development.local
portfolio-yatiyr/.env.test.local
portfolio-yatiyr/.env.production.local

# vercel
portfolio-yatiyr/.vercel
